#header{
	background-color: gray;
	padding: 5px;
}

#header > h1{
	margin: 5px 0px;
	font-size: 26px;
}

#header ul{
	padding: 0px;
	margin: 2px;
}

#header li{
	list-style-type: none;
	display: inline-block
}

#content{
	background-color: #cecece; 
	min-height: 150px;
	padding: 5px;
}

#content pre{
	border: 1px dotted gray;
}

#footer{
	background-color: #eaeaea;
	text-align: center;
	padding: 5px;
}

body{
	background-color: black;
}