<html>
<head>
<title>Base</title>
<link href="/css/base.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div style="padding:auto; margin:auto;">
	<div id="header">
		<h1>Titulo</h1>
		<span>sub titulo</span>
		<ul>
			<li><a href="/">Inicio</a></li>
		</ul>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div id="footer">
		Site develpment on Django. All rights reserved 2012.
	</div>
</div>
</body>
</html>